* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(120deg, #667eea, #764ba2, #6dd5ed, #2193b0);
  background-size: 300% 300%;

  animation: gradientMove 10s ease infinite;
}

/* background animation */

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Login Card */

.login-card {
  width: 400px;
  padding: 35px;

  background: rgba(255, 255, 255, 0.2);

  backdrop-filter: blur(15px);

  border-radius: 16px;

  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

  color: white;
}

/* Title */

.login-title {
  text-align: center;

  margin-bottom: 25px;

  font-size: 26px;

  font-weight: 700;

  letter-spacing: 0.5px;
}

/* Labels */

label {
  display: block;

  margin-top: 10px;

  margin-bottom: 6px;

  font-size: 14px;

  font-weight: 500;

  color: white;
}

/* Inputs */

.form-control {
  width: 100%;

  padding: 10px 12px;

  border: none;

  border-radius: 8px;

  background: rgba(255, 255, 255, 0.95);

  color: #333;

  font-weight: 500;

  transition: 0.3s;
}

/* Input animation */

.form-control:focus {
  outline: none;

  box-shadow: 0 0 12px rgba(255, 255, 255, 0.9);

  transform: scale(1.02);
}

/* Button */

.btn-login {
  width: 100%;

  padding: 12px;

  margin-top: 20px;

  border: none;

  border-radius: 8px;

  background: linear-gradient(45deg, #00c6ff, #0072ff);

  color: white;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

/* Hover */

.btn-login:hover {
  transform: translateY(-2px);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Click */

.btn-login:active {
  transform: scale(0.95);
}

#login-error {
  color: red;
  display: none;
}

.register-text {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
  color: white;
}

.register-link {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
  transition: 0.3s;
}

.register-link:hover {
  text-decoration: underline;
  color: #00c6ff;
}
